.row {
  margin: 0 150px;
}
#cards {
  margin: 0 150px;
  border: 5px dashed #000;
}
.bordered {
  height: 175px;
  border: 1px solid #000;
}
.card {
  background-size: cover;
  height: 175px;
  opacity: 0;
}
